:root {
  --primary: #552f7e;
  --primary-dark: #3b2158;
  --accent: #562788;
  --secondary: #D14081;
  --bg-black: #000000;
  --text-white: #ffffff;
  --bg-toggle: rgb(233, 221, 232);
  --bg-modal: rgba(255, 255, 255, 0.72);
  
  --font-main: "Geist Variable", sans-serif;
  --font-display: "Fredoka One", sans-serif;

  --z-bg: 1;
  --z-game: 5;
  --z-ui: 10;
  --z-modal: 1000;
}